@model IEnumerable<Hanger.Models.Ad>
@{
    ViewBag.Title = "UserCatalog";
}

@Styles.Render("~/css/new.css")
@Styles.Render("~/css/contact.css")


<h2 class="page-header"><img alt="Brand" src="~/Pictures/Icons/user1.png" class="img-header"> Twoje ulubione przedmioty @ViewBag.profilName</h2>

@{ int j = Model.Count() - 1;}
<div id="wrapper">
    <div class="row">


        @while (j >= 0)

        {
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mb-4">
                <div class="pin">
                    <a href="@Url.Action("Product", "Ad", new { id =  Model.ElementAt(j).Id })" class="navbar-left">
                        @{Boolean isPhoto = false; }
                        @foreach (var item in new Hanger.Models.HangerDatabase().Photos)
                            {
                                if (item.AdId == Model.ElementAt(j).Id && item.Main_photo == true && isPhoto == false)
                                {

                        <img src="@System.String.Format("data:{0};base64,{1}", item.Type, Convert.ToBase64String(item.Photo))" /><br />
                                    isPhoto = true;
                                }

                            }

                        @if (isPhoto == false)
                            {
                        <img src="~/Pictures/dress.jpg" /><br />
                            }


                    </a>
                    @if ((@Html.DisplayFor(p => p.ElementAt(j).Brand.Name)).ToString() == "")
                {
                        <p class="alignright" style="width:100%">

                            <b> @Html.DisplayFor(p => p.ElementAt(j).Price) zł</b>
                        </p>

                        <p class="alignright brand" style="width:100%">

                            <b>@Html.DisplayFor(p => p.ElementAt(j).Size.Name)</b>

                        </p>

                    }
                    else
                    {
                        <p class="alignleft">

                            <b>@Html.DisplayFor(p => p.ElementAt(j).Brand.Name)</b>
                        </p>
                        <p class="alignright">

                            <b> @Html.DisplayFor(p => p.ElementAt(j).Price) zł</b>
                        </p>
                        <p class="alignright brand" style="width:100%">

                            <b>@Html.DisplayFor(p => p.ElementAt(j).Size.Name)</b>

                        </p>

                    }
                </div>

            </div>

                                j--;


                            }
         </div>
</div>


    @*<div id="abc">
        <!-- Popup Div Starts Here -->
        <div id="popupContact" style="margin-left: -200px;">
            <!-- Contact Us Form -->

            <form action="#" id="form" method="post" name="form">
                <img id="close" src="~/Pictures/Icons/close.png" onclick="div_hide()">
                <h2 style="font-size:26px">Wybierz akcję</h2>
                <hr>


                <input onclick="check_empty()" type="submit" class="btn" value="Podgląd" />
                <input onclick="check_empty()" type="submit" class="btn" value="Edycja" />
                <a href="/Register/Register" class="btn btn-info btn-block">Zarejestruj się już teraz!</a>
                <a href="/Register/Register" class="btn btn-info btn-block">Zarejestruj się już teraz!</a>
                <a href="@Url.Action("Product", "Ad", new { id =  Model.ElementAt(j).Id })" class="btn btn-info btn-block">Podgląd</a>


                    <p><button class="btn btn-lg btn-success btn-block" type="submit" onclick="location.href='@Url.Action("SendMail", "Ad")'">Wyślij</button></p>
</form>

        </div>
        <!-- Popup Div Ends Here -->
    </div>*@


<script src="~/js/contact.js"></script>